<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="title">
                <h1>My Mail</h1>
            </div>
        </div>
    </header>

    <div class="container">
       

        <div class="left-container">

            <div class="mail-compose">
               <div class="mail-compose-title">
                   <a href="#">Compose</a>
               </div>
            </div>

            <div class="menu">
                <div class="menu-box">
                   <div class="menu-box-title">
                       <h1>
                        <i class="fa fa-inbox"></i>  <a href="#">Inbox</a>
                       </h1>
                   </div>
                </div>
                <div class="menu-box">
                    <div class="menu-box-title">
                        <h1>
                            <i class="fa fa-paper-plane"></i><a href="#">Send</a>
                        </h1>
                    </div>
                 </div>
                 <div class="menu-box">
                    <div class="menu-box-title">
                        <h1>
                            <i class="fa fa-robot"></i><a href="#">Spam</a>
                        </h1>
                    </div>
                 </div>
                 <div class="menu-box">
                    <div class="menu-box-title">
                        <h1>
                            <i class="fa fa-trash"></i>  <a href="#">Trash</a>
                        </h1>
                    </div>
                 </div>
                 <div class="menu-box">
                    <div class="menu-box-title">
                        <h1>
                            <i class="fa fa-user"></i>  <a href="#">My account</a>
                        </h1>
                    </div>
                 </div>
                 <div class="menu-box">
                    <div class="menu-box-title">
                        <h1>
                            <i class="fa fa-sign-out"></i> <a href="#">Log Out</a>
                        </h1>
                    </div>
                 </div>

            </div>

        </div>


        <div class="right-container">
            <div class="search-box">
                <form action="#">
                    <div class="search-input-box">
                     <input type="text" placeholder="Search..">  
                    </div>
                    <div class="search-btn">
                     <button type="submit">
                         <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>

           


            <div class="mail-box-container">
                <div class="mail-box">
                    <div class="img">
                        <img src="#" alt="pic">
                    </div>
                    <div class="mail-box-info">
                        <div class="mail-box-username">
                           <h2>Sachin</h2>
                        </div>
                        <div class="mail-box-subject">
                           <h3>placement</h3>
                        </div>
                        <div class="mail-box-date">
                           <h3>23 aug</h3>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</body>
</html>